<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/jpg" href="img/favicon.png" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="main.css" />

    <title>VueJS: Computed Properties</title>
  </head>

  <body>
    <div id="app">
      <div class="wrapper">
        <!-- 
        <div class="control-panel">
          <p class="profile-hello">
            Review of {{ fullName }}

            <input type="text" v-model="tempName" />

            <button v-on:click="setName()">Set</button>
            <button v-on:click="rndValue()">{{ rndNum }}</button>
          </p>
        </div>
        -->

        <div class="profile-card">
          <div class="profile-header">
            <img :src="profile_back_img" alt="profile_back_img" />
          </div>

          <div class="profile-body">
            <div class="user-img">
              <img :src="profile_img" />
            </div>

            <div class="name">{{ fullName }}</div>

            <div class="review">
              <p>{{ review }}</p>
            </div>

            <div class="social-icon">
              <ul>
                <li v-for="(item, key) in social_links">
                  <a :href="item" target="_blank">
                    <i class="fa" :class="key"> </i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          tempName: "",

          rndNum: 0,
          first_name: "Shaun",
          last_name: "Addison",
          review: "Great service, highly recommend!",
          profile_img: "img/ShaunAddison.jpeg",
          profile_back_img: "img/bg.jpeg",
          social_links: {
            "fa-facebook-f":
              "https://www.facebook.com/permalink.php?story_fbid=1196491534155246&id=100013832312669",
          },
        },

        methods: {
          getFullName: function () {
            console.log("getFullName Method");
            return this.first_name;
          },

          rndValue: function () {
            this.rndNum = Math.floor(Math.random() * 100 + 1);
          },

          setName: function () {
            this.fullName = this.tempName;
          },
        },

        computed: {
          fullName: {
            get: function () {
              return this.first_name;
            },

            set: function (value) {
              let names = value.split(" ");
              this.first_name = names[0];
              this.last_name = names[names.length - 1];
            },
          },
        },
      });
    </script>
  </body>
</html>
